# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment files
.env
*.env

# Django stuff:
db.sqlite3
media/
static
*.log

# VSCode or IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Migrations (optional - only if you recreate them often)
# **Only use this if you're sure** you're not tracking migrations:
# **/*.pyc
# */migrations/*.py
# !*/migrations/__init__.py

# Node if you have frontend
node_modules/
build/
dist/
